<a href="https://colab.research.google.com/github/EmujinBat/ds1002-kfm8nx/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [55]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [56]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(1, 3, 5, 7, 9, 11, 13)

In [57]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

In [58]:
ans1 <- var2 / var1
ans2 <- (var2 * var2 * var2) * var3
ans3 <- var4 / var3

my_calculated_values <- c(ans1, ans2, ans3)

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [59]:
my_var <- seq(from=4, to=28, by=3)
my_var

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [60]:
s1 <- my_var[-3]
s1

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and

---

update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [61]:
my_var <- my_var[-c(4,5,7)]
my_var

[1]  4  7 10 19 25 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [62]:
artist <- c("Billie Eilish", "Cig after sex", "Lana Del Rey", "Central Cee", "Drake", "Kanye West", "Ariana Grande", "Selena Gomez", "Justin Bieber", "Weeknd")
category <- c("Pop", "Pop", "Pop", "Rap", "Rap", "Rap", "Pop", "Pop", "Pop", "Pop")
size <- c(1, 5, 1, 1, 1, 1, 1, 1, 1, 1)
start <- c(2015, 2008, 2005, 2020, 2006, 2002, 2006, 2002, 2009, 2013)
grammy <- c(TRUE, TRUE, FALSE, TRUE, FALSE, TRUE, TRUE, FALSE, TRUE, TRUE)
df <- data.frame(Artist = artist, Category = category, Members = size, DebutYear = start, GrammyWinner = grammy)

df

   Artist        Category Members DebutYear GrammyWinner
1  Billie Eilish Pop      1       2015       TRUE
2  Cig after sex Pop      5       2008       TRUE
3  Lana Del Rey  Pop      1       2005      FALSE
4  Central Cee   Rap      1       2020       TRUE
5  Drake         Rap      1       2006      FALSE
6  Kanye West    Rap      1       2002       TRUE
7  Ariana Grande Pop      1       2006       TRUE
8  Selena Gomez  Pop      1       2002      FALSE
9  Justin Bieber Pop      1       2009       TRUE
10 Weeknd        Pop      1       2013       TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [63]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[1:3, c(1,2,5)]

  Artist        Category GrammyWinner
1 Billie Eilish Pop       TRUE
2 Cig after sex Pop       TRUE
3 Lana Del Rey  Pop      FALSE

In [64]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
# df[df$Category==Rap]
df %>%
  select(Category) %>%
  filter(Category == "Rap")

  Category
1 Rap
2 Rap
3 Rap

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [65]:
install.packages("tidyverse")
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [66]:
glimpse(starwars)

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"The Empire Strikes Back", "Revenge of the Sith", "Return…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…

In [67]:
starwars %>%
  select(name, height, sex, species) %>%
  filter(species == "Human") %>%
  arrange(name)

   name                height sex    species
1  Anakin Skywalker    188    male   Human
2  Arvel Crynyd         NA    male   Human
3  Bail Prestor Organa 191    male   Human
4  Beru Whitesun lars  165    female Human
5  Biggs Darklighter   183    male   Human
6  Boba Fett           183    male   Human
7  Cliegg Lars         183    male   Human
8  Cordé               157    female Human
9  Darth Vader         202    male   Human
10 Dooku               193    male   Human
11 Dormé               165    female Human
12 Finis Valorum       170    male   Human
13 Finn                 NA    male   Human
14 Gregar Typho        185    male   Human
15 Han Solo            180    male   Human
16 Jango Fett          183    male   Human
17 Jek Tono Porkins    180    male   Human
18 Jocasta Nu          167    female Human
19 Lando Calrissian    177    male   Human
20 Leia Organa         150    female Human
21 Lobot               175    male   Human
22 Luke Skywalker      172    male   Human
23 Mace Windu          188    male   Human
24 Mon Mothma          150    female Human
25 Obi-Wan Kenobi      182    male   Human
26 Owen Lars           178    male   Human
27 Padmé Amidala       165    female Human
28 Palpatine           170    male   Human
29 Poe Dameron          NA    male   Human
30 Qui-Gon Jinn        193    male   Human
31 Raymus Antilles     188    male   Human
32 Rey                  NA    female Human
33 Shmi Skywalker      163    female Human
34 Wedge Antilles      170    male   Human
35 Wilhuff Tarkin      180    male   Human